<div class="col sidenav">
    <mat-card>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/productos/']"> Todas las Categorías </a>
            <mat-divider></mat-divider>
            <a mat-list-item [routerLink]="['/productos/cat/tecnologia']"> Tecnología </a>
            <a mat-list-item [routerLink]="['/productos/cat/belleza-y-salud']"> Belleza y Salud </a>
            <a mat-list-item [routerLink]="['/productos/cat/vestuario']"> Vestuario </a>
            <a mat-list-item [routerLink]="['/productos/cat/libros-y-revistas']"> Libros y Revistas </a>
            <a mat-list-item [routerLink]="['/productos/cat/varios']"> Varios </a>
        </mat-nav-list>
    </mat-card>
</div>